/* Здесь будут храниться стили нашего сайта*/

body {
	margin: 0;
	font-family: 'Roboto';
	font-size: 18px;
}
img {
	max-width: 100%;
}
header {
	padding-top: 59px;
	background-color: #3a7dfd;
	color: #fff;
}
header a:hover {
	text-decoration: none;
	color: #072b6f;
}
footer a:hover {
	text-decoration: none;
	color: #deedfe; 
}
.header-pretitle {	
	margin-top: 102px
}
.header-title {
	font-size: 48px;
	font-weight: 700;
	line-height: 46.81px;
	margin-top: 21px;
}
.header-subtitle {
	margin-top: 20px;
}
.header-button {
	display: inline-block;
	text-decoration: none;
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border-radius: 50px;
	background-color: #ffffff;
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	padding: 17px 55px;
	margin-top: 16px;
}
.header-button:hover {
	box-shadow: none;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
header small {
	font-size: 12px;
	display: block;
	text-align: center;
	margin-top: 9px;
}
.header-button-block {
	max-width: 205px;
}

/* Секция портфолио*/
.portfolio {
	background-color: #dddddd;
	padding-top: 42px;
	padding-bottom: 69px;
}
.portfolio-block {
	background-color: #ffffff;
	padding-top: 30px;
	padding-bottom: 42px;
}
.portfolio-title, .portfolio-subtitle {
	text-align: center;
}
.portfolio-title {
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.portfolio-subtitle {
	color: #7bb9ff;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 29px;
}
.portfolio-col-1 {
	padding-left: 50px;	
}
.portfolio-col-2 {
	padding-right: 50px;
}
.portfolio-block h3 {
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	margin-top: 15px;
}
.portfolio-text {
	font-weight: 400;
	color: #8f8f8f;
	font-size: 14px;
}
.portfolio-block a {
	color: #072b6f;
	font-size: 14px;
	font-weight: 400;
}

/*Оформление подвала*/

footer {
	background-color: #3a7dfd;
	color: #fff;
}
.footer-author {
	color: #fefefe;
	font-size: 24px;
	font-weight: 700;
	margin-top: 75px;
	margin-bottom: 7px;
}
.footer-text {
	color: #deedfe;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 126px;
}
.footer-subs {
	color: #deedfe;
	font-size: 18px;
	font-weight: 400;
	margin-top: 61px;
}
.footer-cta-block {
	text-align: center;
	text-decoration: none;

}
.footer-cta {
	color: #deedfe;
	font-size: 18px;
	font-weight: 400;
	margin-top: 62px;
	margin-bottom: 0;
}
.footer-button {
	display: inline-block;
	text-decoration: none;
	color: #deedfe;
	font-size: 18px;
	font-weight: 400;
	border-radius: 50px;
	border: 1px solid #ffffff;
	background-color: transparent;
	margin-bottom: 115px;
	margin-top: 12px;
	padding: 10px 40px;
}
.footer-button:hover {
	background-color: #fff;
	color: #072b6f;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.footer-socials {
	text-align: center;
}
.footer-socials a {
	display: inline-block;
	margin-left: 13px;
	margin-right: 13px;
}
@media (max-width: 1200px) {
	.header-pretitle {	
	margin-top: 60px
	}
}
@media (max-width: 991px) {
	.header-img {
		display: none;
	}
	.header-pretitle {	
		margin-top: 10px
	}
	.footer-author {
		font-size: 18px;
	}
	.footer-text {
		font-size: 14px;
	}
	.footer-socials a {
		margin-left: 3px;
		margin-right: 3px;
	}
	.footer-socials img {
		width: 30px;
	}
	.footer-button {
		font-size: 14px;
		padding: 8px 35px;
	}
}
@media (max-width: 768px) {
	.portfolio-col-1 {
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 40px;
	}
	.portfolio-col-2 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer-author, .footer-text{
		text-align: center;
	}
	.footer-text {
		margin-bottom: 5px;
	}
	.footer-button {
		margin-bottom: 40px;
	}
	.footer-subs {
		margin-top: 20px;
	}
	.footer-cta {
		margin-top: 20px;
	}
}